<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /emm/
    
    # Skip rewriting for actual files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
